scrape_configs:
{% for h in groups['app_type_grafana'] %}
  - job_name: '{{h}}'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{hostvars[h].ansible_host}}:9100']
{% endfor %}
{% for h in groups['app_type_http'] %}
  - job_name: '{{h}}'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{hostvars[h].ansible_host}}:9100']
{% endfor %}